<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Your next ride!</title>

</head>
          {% load static %}

<body id="bg" style="background-image: url('{% static "snowboard_gang.jpg" %}')">

<h1>{{gender}}s who ride :)</h1>

{% for snowboard in snowboards%}
<h2><a href="{{ snowboard.reference_link }}">{{ snowboard }}</a></h2>
<p>
    Style: {{ snowboard.style }}&nbsp;&nbsp;&nbsp;
    Price: {{ snowboard.price_euro }}€&nbsp;&nbsp;&nbsp;
    Profile: {{ snowboard.type }}&nbsp;&nbsp;&nbsp;
    Year: {{ snowboard.year }}&nbsp;&nbsp;&nbsp;
    True Twin: {{snowboard.true_twin}}
</p>
<br><br>
{% endfor %}

</body>
</html>