<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Riding Style</title>
</head>
          {% load static %}

  <body id="bg" style="background-image: url('{% static "snowboard_views.jpeg" %}')">

    {% if name %}
    <h1>Hello {{ name }}</h1>
    {% else %}
    <h1>Hello Snow Addict!</h1>
    {% endif %}

  <form method="POST">
      {% csrf_token %}

    <h2 align="center">Tell me about your riding style :)</h2>
    <div class="form-group">
        <h4><label for="rider_name">What's your name?</label></h4>
        <input
                type="text"
                class="form-control"
                id="rider_name"
                name="rider_name"
                placeholder="Name/Nickname"
        /><br><br>
        <h4><label for ="gender"> Are you a boy or a girl?</label></h4>
        <select name="gender" id="gender">
            <option value="boy">Boy</option>
            <option value="girl">Girl</option>
        </select>
        <h4><label for="height">Enter your height (cm)</label></h4>
        <input
                type="text"
                class="form-control"
                id="height"
                name="height"
                placeholder="Height in cm"
        /><br><br>
        <h4><label for ="style">Do you love freestyle of free-ride or both?</label></h4>
        <select name="style" id="style">
            <option value="freeride">Free-ride</option>
            <option value="freestyle">Freestyle</option>
            <option value="both">Both</option>
        </select>
        <br><br>
        <h4><label for ="skills"></label>Rate your skills...</h4>
        <select name="skills" id="skills">
            <option value="rookie">Rookie</option>
            <option value="intermediate">Intermediate</option>
            <option value="prorider">Pro-rider</option>
        </select>
        <br><br>
    </div>
    <br/>
    <button type="submit" class="btn btn-primary">Submit and let's hit the slopes!</button>

</form>
  </body>

</html>