<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Your next ride!</title>
    <style>
        body {
            background-image: url('static/snow_rippers.jpg');
            background-size: cover;
        }
    </style>

</head>
          {% load static %}

<body id="bg" style="background-image: url('{% static "snow_rippers.jpg" %}')">

<h1>{{gender}}s who ride :)</h1>
{% if rider_name %}
<h1>happy riding {{ rider_name }}!</h1>
{% else %}
<h1>Happy riding!</h1>
{% endif %}

{% for snowboard in snowboards%}
<h2><a href="{{ snowboard.reference_link }}">{{ snowboard }}</a></h2>
<p>
    Style: {{ snowboard.style }}&nbsp;&nbsp;&nbsp;
    Price: {{ snowboard.price_euro }}€&nbsp;&nbsp;&nbsp;
    Profile: {{ snowboard.type }}&nbsp;&nbsp;&nbsp;
    Year: {{ snowboard.year }}&nbsp;&nbsp;&nbsp;
    True Twin: {{snowboard.true_twin}}&nbsp;&nbsp;&nbsp;
</p>
<br><br>
{% endfor %}

{% if size_range %}
<h3>Recommended size range: {{ size_range }}</h3>
{% else %}
<h4>You did not enter your height, so we can not make recommendations for sizing.</h4>
{% endif %}

</body>
</html>