<!DOCTYPE html>
<html lang="en">
          {% load static %}

  <body id="bg" style="background-image: url('{% static "snowboard_views.jpeg" %}')">

    {% if name %}
    <h1>Hello {{ name }}</h1>
    {% else %}
    <h1>Hello World</h1>
    {% endif %}

  <form method="POST">
      {% csrf_token %}

    <h2 align="center">Tell me about your riding style :)</h2>
    <div class="form-group">
        <h4>Are you a boy or a girl?</h4>
        <input type="checkbox" id="boy" name="boy" value="Boy">
        <label for="boy">Boy</label>
        <input type="checkbox" id="girl" name="girl" value="Girl">
        <label for="boy">Girl</label><br><br>
        <h4><label for="height">Enter your height (cm)</label></h4>
        <input
                type="text"
                class="form-control"
                id="height"
                name="height"
                placeholder="Height in cm"
        /><br><br>
        <h4>Do you love freestyle or free-ride or both?</h4>
        <input type="checkbox" id="freestyle" name="freestyle" value="Freestyle">
        <label for="boy">Freestyle all the way!</label>
        <input type="checkbox" id="freeride" name="freeride" value="Freeride">
        <label for="boy">Free-ride for the win!</label>
        <input type="checkbox" id="both" name="both" value="Both">
        <label for="boy">Can't choose. Both!</label><br><br>
        <h4><label for="skills">Rate your skills...type rookie/intermediate/prorider</label></h4>
        <input
                type="text"
                class="form-control"
                id="skills"
                name="skills"
                placeholder="rookie/intermediate/prorider"
        /><br><br>
    </div>
    <br/>
    <button type="submit" class="btn btn-primary">Submit and let's hit the slopes!</button>

</form>
  </body>

</html>